
.aboutMe{

}
.aboutMe_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.aboutMe_headshot{
    border-radius: 50%;
}
#aboutMe_desc{
    margin: auto 1em;    
    background-color: transparent;
    border: none;
}