
body{
    margin: 5em;
    font-family: 'Open Sans', sans-serif;
    background-color:#883955;
}
h1{
    font-family: 'Yellowtail', cursive;
}

.apiQuote{
      background-color: #D0006D;
  border: 1px solid #343F4B;
  border-radius: 5px;
  width: 50%;
  height: 358px;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.caption{
    text-align: center;
}
.Header{
    flex-grow: 4;
    font-family: 'Grand Hotel', cursive;
    color:#47525E;
    font-size: 8vw;
    font-weight: 400;
    text-align: center;
    width: 400px;
    margin: 5%;
}
.Home{
    /*display: flex;
    flex-direction: row;
    justify-content: flex-end;*/
    text-align: center;
    /*background-image: url('');*/
    height: 1000px;
    color:white;
}
.homeNav{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    
}
.homeNav>li{
    margin: 10px;
}
.ImageReel{
    padding: 5px;
    display: flex;
    flex-direction: row;
    border-top: 2px solid #C0009F;
    border-bottom: 2px solid #C0009F;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.NavBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-bottom: 100px;  

}
.DownloadButton{
    font-family: Roboto;
    font-size: 3vw;
    border: 2px solid #D0006D;
    border-radius: 5px;
    /*width: 192px;*/
    height: 70px;
    padding: 5px;
    margin: 2px;
    text-align: center;
}
.DownloadButton>a{
            text-decoration: none;

}
.DownloadButton>a:visited{
        text-decoration: none;

}
    a{
        color:#47525E;
    }
a:hover{
            text-decoration: none;

}
a:hover{
    text-decoration: none;
}
.outsideLink{
    display: flex;
    align-items: center;

}

.story {
  background-color: #F4FAFF;
  border: 3px solid #D0006D;
  border-radius: 100%;
  width: 143px;
  height: 143px;

}
.material-icons{
    font-size: 3em;
}
.storyImg{
    height: 50%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.quote{
    font-size: 2em;
}
.quoteBlock{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.webImg{
    margin: .5em;
    height: 50px;

}
